<style>
    .errMessage{
    color: crimson;
    text-align: left;
    padding-left: 18px;

 }
</style>

<div class="form-heading heading">
    <h2>Create an account</h2>
</div>
<div class="form-container">
    <form class="form" action="/register" method="POST">
        <label for="firstName">
            First Name
            <input  type="name" name="firstName" placeholder="Maurice" id="firstName">
        </label>
       
          
            <div class = "errMessage" >{{firstError}}</div>
     

         <label for="lastName">
            Last Name
            <input  type="name" name="lastName" placeholder="Kamto" id="lastName">
        </label>
        
            <div class = "errMessage" >{{lasterr}}</div>
     
       
        <label for="email">
            Email
            <input  type="email" name="email" id="email" maxlength="120" placeholder="mauricekamto@email.com" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$">
        </label>
        
            <div class = "errMessage" >{{emailErro}}</div>
     
        <label for="password">
            Password
            <input  type="password" name="password" id="password" placeholder="At least 6 characters">
        </label>
        
            <div class = "errMessage" >{{passErro}}</div>
            
        
        <label for="">
            <input  type="submit" value="Register" id="submit">
        </label>
    </form>
</div>
<div class="redirect">
    <h4><a href="/login">Already have an account? Log in</a></h4>
</div>