.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 20px;
}

.grid-three-items {
    display: grid;
    grid-template-columns: auto auto auto;
}




.grid-three-items {
    display: grid;
    grid-template-columns: auto auto auto;
}


.grid-item {
    padding: 2em;
}

.grid-image {
    width: 100%;
}

.category-image {
    height: 400px;
}